body {
  width: 100%;
  height: 100%;
  font-family: 'montserrat', sans-serif;
  background-image: url("src/assets/galata.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.nav {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(5, 2, 2, 0.5), rgba(5, 1, 1, 0.3));
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 16px 16px 16px 16px;
  color: #0c0b0b;
  font-size: 20px;
  font-weight: 300;

}
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location .city {
  color:#ffffff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}
